.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#mywheel {
  width: 300px;
  height: 300px;
  border: 70px solid #f3f3f3;
  border-top: 70px solid red;
  border-right: 70px solid green;
  border-bottom: 70px solid yellow;
  border-left: 70px solid blue;
  border-radius: 50%;
  transition: transform 2s;
  transform: rotate(0deg);
}

#mywheel:hover {
  transform: rotate(360deg);
}

